{% extends 'account/account.html.twig' %}

{% block title %}Profile Utilisateur{% endblock %}

{% block body %}
 <div class="container col-3 ">
               
                {% for type, messages in app.flashes  %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type}}  text-center">
                       {{ message }}
                        </div>{% endfor %}
                {% endfor %}
                </div>
		<div class="text-center py-5">
			<h1>Données personnelles de {{ app.user.nickname }} </h1>
		</div>
        <div class="container-profile">
        <table class="table table-info table-bordered">
        <tbody>
        <tr>
        <td>Prénom</td>
        <td>{{ app.user.nickname }}</td>
        </tr>
        <tr>
        <td>Email</td>
        <td>{{ app.user.email }}</td>
        </tr>
        <tr>
        <td>Age</td>
        <td>{{ app.user.age }}</td>
        </tr>
        <tr>
        <td>Mot de pass</td>
        <td> <a class="btn btn-dark"href="{{ path('users_pass_modifier') }}">modifier mot de pass</a></td>
        </tr>
         {# {% for comment in comments %}<tr>
       
        <td>Commentaire</td>
        <td>{{ app.user.comments }}</td>
        
        </tr>{% endfor %} #}
        </tbody>
        </table>
        </div>
        </div>
		
{% endblock %}
