{% extends 'base.html.twig' %}

{% block title %}Affichage Activité - {{ parent() }}{% endblock %}

{% block body %}
<h1 class="activity text-center py-4 ">
 <img  class="pdf-icon" src="{{ asset('assets/images/flaticon/lecriture.png')}}"  alt=""> fichiers d'activity </h1>
   
     
     
{# {% for product in products %}
{% if  product.category.title is same as ('Activités') %} #}

{# <div class="container ">
<div class="row col-3">
  <div class="card ">
  <a class="text-center" href="{{ asset('upload/') }}{{product.file}}">{{ product.title }}  </a>
  <embed src="{{ asset('upload/') }}{{product.file}}" type="">
     </div>
    </div>
     </div> #}
    
     {# {% endif %}
     {% endfor %} #}
     {% endblock %}
     