{% extends 'base.html.twig' %}

{% block title %}Accueil - {{ parent() }}{% endblock %}

{% block body %}
<!-- home section start -->

      
     
  <section class="home  m-5  d-flex justify-content-center">
  <img src="{{ asset('assets/images/b.jpg') }}" alt="" class="img-fluid">
    <div class="content ">
     


    </div>

  </section>

  <!-- home section end -->


  <!-- cards section start -->

  <div class=" container-cards ">
    <div class="heading">
      <h2 class="text-center  py-5"> Choisir Vôtre Niveau</h2>
    </div>

    
    <div class="row my-2">
    {% for level in levels %}
      <div class="card col-lg-3 mb-5 ">
        <div class="card-body">
          <div class="image">
            <img src="assets/images/card.png" class=" img-fluid img p-3" alt="...">
          </div>
           <div class="btn-card">
            <a href="{{ path('index_level',{'levelId': level.id }) }}" class="button m-4">{{ level.title }}</a></div>
         
        </div>
      </div>
   {% endfor %}
      

    </div>
  </div>
  <!-- cards section end -->

  <!-- inscription section start -->
  <div class=" abonner-section bg-light">

    <div class="container-abonner">
      <div class="row-abonner m-5">
        <div class=" col-md-6 mb-5 mb-md-0">
          <img src="{{asset('assets/images/abonner.jpg')}}" alt="ImageInsciption" class=" img-fluid">
        </div>
        <div class="write-section col-md-5 py-5 ">
          <h3 class="text-black p-3">Apprendre et Jouer Avec Nous!</h3>
          <img src="{{asset('assets/images/abonner.jpg')}}" alt="ImageInscription" class="coco img-fluid">
          <p >Apprenez l'arabe pour les enfants en ligne grâce aux vidéos, chansons, histoires , et plain des activités pratiques.

            Grâce à notre méthode d'auto-apprentissage, les enfants peuvent apprendre l'arabe à leur rythme,
            n'importe quand, n'importe où.
            Rejoignez nous pour commencer votre apprentissage !</p>
          <div class="btn-abonnez p-3">
            <a href="{{ path('register')}}" class="button py-4 ">M'inscrire</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- inscription section end -->


  <!--  fun section start -->
  <div class="fun-section ">
    <div class="container-fun ">
        <div class="heading">
          <h2 class="title-fun">Allons nous s'amuser</h2>
        </div>
      
      
      <div class="row ">
      
        <div class=" card-body col-lg-3   ">
          <div class="package  text-center " id="card1">
            <span class="img-wrap"><img src="assets/images/flaticon/pere.png" alt="Image" class="img-fluid"></span>
            {% for category in categories %}
          {% if category.title is same as ('Coloriage') %}
    
            <p><a href="{{ path('index_category',{'categoryId': category.id }) }}" class="button  mt-4">{{ category.title }}</a></p>
          {% endif %} 
          {% endfor %}
         </div>
        </div>
        
        <div class=" card-body col-lg-3  ">
          <div class="package  text-center " id="card2">
            <span class="img-wrap"><img src="assets/images/flaticon/party.png" alt="Image" class="img-fluid"></span>
            {% for category in categories %}
          {% if category.title is same as ('Chansons') %}
            <a href="{{ path('index_category',{'categoryId': category.id }) }}" class="button  mt-4">{{ category.title }}</a>
            {% endif %} 
          {% endfor %}
          </div>
        </div>
        <div class=" card-body col-lg-3  ">
          <div class="package  text-center  " id="card3">
            <span class="img-wrap"><img src="assets/images/flaticon/histoires.png" alt="Image" class="img-fluid"></span>
          {% for category in categories %}
          {% if category.title is same as ('Histoires') %}
            <p><a href="{{ path('index_category',{'categoryId': category.id }) }}" class="button  mt-4">{{ category.title }}</a></p>
            {% endif %} 
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  fun section end -->

  <!-- form contact start -->
 
<section class="sec1 mb-2">
<div class="content">
<a href="{{ path('app_contact')}}" class="text-decoration-none">
<h1 class="text-center text-light py-3 ">Contactez-Nous</h1>
<img class"content img-contact" src="assets/images/contactus.jpg" alt="" style="height: 250px;">
</a>
</div>
</section>
<section class="sec2 mb-2 "></section>


  <!-- form contact end -->



  {# slider  #}
   
            
   {# <section class="testimonial text-center">
      <div class="container">
        <div class="heading">Testimonial</div>
         
         <div id="testimonial4"
          class="carousel slide testimonial4_indicators testimonial4_control_button thumb_scroll_x swipe_x"
          data-ride="carousel"
          data-pause="hover"
          data-interval="5000"
          data-duration="2000">
        
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
            
              <div class="testimonial4_slide">{% for comment in comments %}
               
                <h4>{{ comment.user.nickname }}</h4>
                <p>
                 {{comment.content }}
                </p>
              </div>{% endfor %}
              
            </div>
            
          </div>
          <a
            class="carousel-control-prev"
            href="#testimonial4"
            data-slide="prev"
          >
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a
            class="carousel-control-next"
            href="#testimonial4"
            data-slide="next"
          >
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
    </section>
    <!-- partial -->
    #}
   


{% endblock %}