{% extends 'base.html.twig' %}

{% block title %}les Avis{% endblock %}

{% block body %}
<div class="container">
      <h2 class="title">Témoingages</h2>
      <h2 class="text-center">Ce que dise notre clients!</h2>
 
      <div class="testimonial">
      {% for comment in comments %}
        <div class="testimonial-info">
          <h4>{{ comment.user.nickname}}</h4>
        </div>
        <div class="testimonial-content">
          <p>
            {{ comment.content }}
          </p>
        </div>
        {% endfor %}
      </div>

    </div>

  {# <h1 class="text-center pt-5"> Témoingages </h1>
  <h2 class="text-center">Ce que dise notre clients!</h2>
 
  <div class="d-flex justify-content-center py-4 ">
  <a href="{{ path('add_comment')}}" class="btn btn-dark"  >Ajouter mon avis</a></div>
  
   <div class="testimonials-container">
    
    <div class="testimonial">
      {% for comment in comments %}

      <h5>{{ comment.user.nickname}}</h5>
      <p>{{ comment.content }}</p>
      <div class='divider'>
      <hr >
      </div> {% endfor %}
    </div>

 </div>   #}
{% endblock %}


