{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}connexion
{% endblock %}

{% block body %}

    <div id="box-inscription">
    <div class="left">
    <h1 class="text-start">CONNEXTION</h1>
    <form method="post">
    {% if error %}
               <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>    
      
                {% endif %}
                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté(e) comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
                    </div>
                {% endif %}

          
         
          <input type="text" value="{{ last_username }}"  name="_username" placeholder="email"  />
         
          <input type="password" name="_password" placeholder="password" autocomplete="current-password" required />
          
          <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
<div class="d-flex py-3">
          <button type="submit" class="button" > Me connecter </button>
           <a href="{{ path('register') }}" class="button">M'inscrire</a>
                {# <a href="{{ path('forgotten_password') }}" class="btn btn-secondary mt-3">Mot de passe oublié</a>#}
       </div> <form> 
      </div>
        </div>
    
    


{% endblock %}






